{% extends 'base.html.twig' %}

{% block title %}Biens{% endblock %}

{% block body %}
    <h1>Biens</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bien.id }}</td>
            </tr>
            <tr>
                <th>Pieces</th>
                <td>{{ bien.pieces }}</td>
            </tr>
            <tr>
                <th>Chambre</th>
                <td>{{ bien.chambre }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ bien.surface }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ bien.adresse }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bien.prix }}</td>
            </tr>
            <tr>
                <th>Charge</th>
                <td>{{ bien.charge }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ bien.images }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bien.description }}</td>
            </tr>
            <tr>
                <th>Date_construction</th>
                <td>{{ bien.dateConstruction }}</td>
            </tr>
            <tr>
                <th>Etage</th>
                <td>{{ bien.etage }}</td>
            </tr>
            <tr>
                <th>Cuisine</th>
                <td>{{ bien.cuisine ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Bain</th>
                <td>{{ bien.bain ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Energie</th>
                <td>{{ bien.energie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('biens_index') }}">back to list</a>

    <a href="{{ path('biens_edit', {'id': bien.id}) }}">edit</a>

    {{ include('biens/_delete_form.html.twig') }}
{% endblock %}
